.highcharts-root {
  font-size: 20px;

  image {
    height: auto;
  }

  .highcharts-legend-item {
    font-size: 1rem;
  }


}

.custom-tooltip-popper {

  .custom-tooltip {
    font-size: 1rem !important;
    margin: 1px !important;
  }
}