.privacy-container {
  color: black;
  font-family: Courier;
  color: #6b6b6b;
  font-size: 2rem;

  .about {
    background: rgb(255, 215, 98);
    height: 100%;
    border-radius: 15px;
  }

}

.about-content {
  background: #ffd762;
  margin: 0 25px;
  padding: 2.5rem 2rem;
  border-radius: 15px;
  font-family: Courier;
  color: #6b6b6b;
  font-size: 2rem;
}

@media screen and (max-width : 800px) {
  .about-content {
    margin-top: 4rem;
  }
}