.dns-home {
  .ping-container {
    .ping-input-label {
      label {
        color: #ff4565;
      }
    }
  }

  .button-container {
    margin-top: 1rem;
    position: relative;

    .ping-button {
      background-color: #ff4565;
    }
  }

  .dns-results {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    max-width: 400px;
    background-color: #ff4565;
    margin-left: 20px;

    .record-list-item {
      margin-bottom: 10px;

      .name-status {
        display: flex;
        justify-content: space-between;
      }

      .record-name {
        font-size: 1.5rem;
        padding-right: 10px;
      }

      .record-status {
        .ping-loader {
          position: relative;
          top: -7px;
          height: 10px;
        }

        .icon {
          height: 17px;
          border-radius: 50%;


          &.not-working {
            background: red;
            ;
          }
        }
      }

      .record-info {
        font-size: 1.2rem;
        padding: 0 15px;
      }
    }
  }

  .custom-select {
    margin: 16px 0px 8px 20px;

    .bst-mui-select-select {
      font-family: Courier;
      color: #6b6b6b;
      font-size: 2rem;
      padding: 1.2rem 3rem 1.7rem 2rem;

      &:focus {
        background: none;
      }
    }
  }

}

@media screen and (max-width: 800px) {
  svg {
    display: none;
  }

  .dns-home {
    label {
      font-size: 4.5rem !important;
    }

    .button-container {
      .custom-select {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 0;
        width: 50%;
      }

      .button {
        margin-top: 20px;
      }
    }

    .record-status {
      .ping-loader {
        right: 10px;
      }

      .icon {
        margin-right: 10px;
      }
    }

    .history.dns-results {
      margin-top: 30px;
      margin-left: 0;
      max-height: initial;
    }
  }
}