.dns-home {
  .ping-container {
    .ping-input-label {
      label {
        color: #ff4565;
      }
    }
  }

  .button-container {
    margin-top: 1rem;

    .ping-button {
      background-color: #ff4565;
    }
  }

  .dns-results {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    max-width: 400px;
    background-color: #ff4565;
    margin-left: 20px;

    .record-list-item {
      margin-bottom: 10px;

      .name-status {
        display: flex;
        justify-content: space-between;
      }

      .record-name {
        font-size: 1.5rem;
        padding-right: 10px;
      }

      .record-status {
        .icon {
          height: 17px;
          border-radius: 50%;

          &.working {
            background: #1df333;
          }

          &.not-working {
            background: red;
            ;
          }
        }
      }

      .record-info {
        font-size: 1.2rem;
        padding: 0 15px;
      }
    }
  }

  .custom-select {
    margin: 16px 0px 8px 20px;

    .bst-mui-select-select {
      font-family: Courier;
      color: #6b6b6b;
      font-size: 2rem;
      padding: 1.2rem 3rem 1.7rem 2rem;

      &:focus {
        background: none;
      }
    }
  }

}