.dns-home {
  .dns-content {
    padding: 25px 0;
    margin: 60px 0;
    justify-content: space-between;
    display: flex;
    //flex-wrap: wrap;
  }


  .ping-container {
    .ping-input-label {
      label {
        color: #ff4565;
      }
    }
  }

  .button-container {
    margin-top: 1rem;
    position: relative;

    .ping-button {
      background-color: #ff4565;
    }
  }

  .dns-results {
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #ff4565;
    margin-left: 20px;
    height: auto;
    max-height: 70vh;
    overflow-y: auto;

    #style-3::-webkit-scrollbar-track &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }

    .record-list-item {
      margin-bottom: 10px;

      .name-status {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
      }

      .record-name {
        font-size: 1.5rem;
        padding-right: 10px;
      }

      .record-status {
        .ping-loader {
          position: relative;
          top: -7px;
          height: 10px;
        }

        .icon {
          height: 29px;
          border-radius: 50%;

          &.not-working {
            background: red;
            ;
          }
        }
      }

      .record-info {
        font-size: 1.2rem;
        padding: 0 15px;
      }
    }
  }

  .custom-select {
    margin: 16px 0px 8px 10px;

    .bst-mui-select-select {
      font-family: Courier;
      color: #6b6b6b;
      font-size: 2rem;
      padding: 1.2rem 3rem 1.7rem 1rem;


      &:focus {
        background: none;
      }
    }


  }

}

.bst-mui-menu-list {
  min-width: 15rem;

  >li {
    font-size: 2rem;
    padding: 6px 20px;
  }
}

main {
  padding: 0 7rem;
}

.ip-list {
  list-style-type: disc;
  margin-left: -36px;
  margin-top: -8px;
}

@media screen and (max-width: 900px) {
  svg {
    display: none;
  }

  main {
    padding: 0;
  }

  .dns-home {
    .dns-content {
      margin: 0;
      padding: 0;
      padding-top: 25px;
      flex-direction: column;

      .history.dns-results {
        min-width: initial;
        width: 100%;
        box-sizing: border-box;
      }
    }

    label {
      font-size: 4.5rem !important;
    }

    .button-container {
      .custom-select {
        position: absolute;
        margin-top: 30px;
        left: 0;
        margin-left: 0;
        width: 50%;
      }

      .button {
        margin-top: 35px;
        position: absolute;
        right: 0;
      }
    }

    .record-status {
      .ping-loader {
        right: 10px;
      }

      .icon {
        margin-right: 10px;
      }
    }

    .history.dns-results {
      margin-top: 60px;
      margin-left: 0;
      max-height: initial;


    }
  }
}

@media screen and (max-width: 1100px) {
  main {
    padding: 0;
  }
}