.parent-container {
  font-family: monospace;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.home-content {
  padding: 25px;
  flex: 2;

  .main-content {
    position: relative;
    max-width: fit-content;
  }

}

label {
  font-size: 2rem;
}

.ping-container .ping-input-label label {
  color: #407bff;
  font-size: 2rem;
  font-family: Courier;
  font-weight: 800;
}

.ping-loader {
  bottom: -33px;
}

.ping-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.input-container {
  width: 100%;
  margin-top: 3rem;
}

.textfield {
  font-size: 2rem;
}





.history {
  width: 100%;
  border-radius: 15px;
  border-width: 0.4rem;
  border-style: solid;
  font-family: Courier;
  font-weight: 800;
  /*box-shadow: 5px 5px 0 #464646; */
  min-height: 40vh;
  background: #407bff;
  padding: 1rem 2rem;
  overflow: auto;
  word-break: break-all;
  color: white;
  min-width: 280px;

  margin-left: 20px;
  height: auto;
  max-height: 70vh;
}

.dns-card {
  background: #ff637d;
  padding: 1.5rem 2rem;
  padding-bottom: 3rem;
  font-size: 1.3rem;
  font-family: Courier;
  font-weight: 800;
  border-radius: 2px;
  border-width: 0.4rem;
  border-color: #464646;
  border-style: solid;
  color: white;
  width: 100%;
  min-height: 120px;
  overflow: auto;
}

.dns-card:hover {
  box-shadow: 5px 5px 0 #464646;
}

.website-name {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 100;
  word-break: break-all;
}

// input {
//   font-size: 2.4rem !important;
//   min-width: 170px !important;
// }

.history-label {
  padding: 4px;
  font-size: 2rem;
}

.side-content {
  flex: 1;
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .side-content {
    flex-direction: column;
  }
}

.response-container {
  margin-top: 24px;

  &.hide {
    visibility: hidden;
  }

  .result-container {
    .website-working {
      padding-left: 8px;

      >img {
        height: 4rem;
        padding-left: 10px;
      }
    }

    label {
      color: #464646;
      flex-wrap: wrap;
      font-size: 2rem;

      .website-not-working {
        // padding-left: 8px;

        img {
          height: 2rem;
          width: auto;
          padding-left: 10px;
        }
      }
    }
  }
}

.result-container label span {
  color: #464646;
  font-weight: bold;
}

.dns-container {
  width: 280px;
  cursor: pointer;

  label {
    cursor: pointer;
    font-size: 2.5rem;
  }
}

//.full-suite-container {
// width: fit-content;
//}

// .full-suite-card {
//background: #ff637d;
//width: 240px;
//min-height: 100px;
//padding: 1.5rem 2rem;
//padding-bottom: 3rem;
//font-size: 1.3rem;
//font-family: Courier;
//font-weight: 800;
//border-radius: 2px;
//border-width: 0.4rem;
//border-color: #464646;
//border-style: solid;
//color: white;
//}

//.full-suite-card:hover {
// box-shadow: 5px 5px 0 #464646;
//}

.full-suite-label {}

.history-list {
  list-style-type: disc;
  font-size: 1.7rem;
}

.header-buttons-container {
  padding-right: 40px;
  align-items: center;
}

.header-button {
  border-radius: 2px;
  border-style: none;
  font-family: Courier;
  font-size: 13pt;
  padding-top: 0.5rem;
  font-weight: 800;
  /*box-shadow: 3px 3px 0 skyblue;*/
  padding: 0.7rem 1.8rem;
  margin-left: 8rem;
  font-size: 1.4rem;
  background: #407bff;
  color: white;
}

.header-button:hover {
  box-shadow: 3px 3px 0 skyblue;
}

.button-container>.ping-button {
  margin-bottom: 1rem;
  border-radius: 2px;
  border-color: #464646;
  border-width: 3px;
  font-family: Courier;
  font-size: 1.5rem !important;
  padding-top: 0.5rem;
  font-weight: 800;
  box-shadow: none;
  padding: 0.7rem 3rem 0.8rem 3rem;
  margin-left: 3rem;
  font-size: 1.4rem;
  background: #407bff;
  color: white;
}

.ping-button:hover {
  box-shadow: 3px 3px 0 #464646;
}

.cta-button {
  border-radius: 2px;
  border-width: 3px;
  border-color: #464646;
  font-family: Courier;
  font-size: 13pt;
  padding-top: 0.5rem;
  font-weight: 800;
  box-shadow: 3px 3px 0 #464646;
}

input {
  font-family: Courier;
  color: #6b6b6b;
  font-size: 2rem;
  padding: 1.2rem 1.5rem;
}

button:focus {
  outline: 0;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



@media (max-width: 800px) {
  .parent-container {
    height: 100%;
  }

  .ping-loader {
    bottom: 0;
  }

  .side-content {
    flex-direction: column;
    flex: 2;

    .history {
      min-width: initial;
      width: calc(100% - 41px);
      margin-left: 0;

      .history-label {
        font-size: 3rem;
      }

      .history-list {
        font-size: 2.5rem;
      }
    }
  }

  .home-content {
    margin: 0;
    padding: 15px;
    flex-direction: column;


    .button-container {
      flex-direction: column;
      margin-top: 0;

      .input-container {
        margin-top: 1rem;
      }
    }


    .response-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}



.home-header-container {
  background: rgb(121, 206, 109);
  flex: 2;

  label {
    font-weight: 600;
    font-size: 3rem;
  }

  .input-container {
    input {
      color: rgb(21, 62, 200);
      font-weight: 200;
      font-family: Courier;
      font-size: 2.5rem;
      border-bottom: 2px solid #003dcc;
    }
  }

  .home-button-container {
    color: rgb(21, 62, 200);
    display: flex;
    justify-content: flex-end;

    .ping-button {
      margin-left: 0;
      background: rgb(0, 62, 204);
    }
  }
}


.home-details {
  display: flex;
  justify-content: space-between;

  .check-dns-button {
    cursor: pointer;
    width: 20rem;
    background-color: #79ce6d;
    padding: 20px;
    color: rgb(0, 61, 204);
    font-size: 2rem;
    border-radius: 15px;
    margin-top: 5rem;
  }
}

@media screen and (min-device-width:800px),
screen and (min-width:800px) {
  .home-content {
    flex-direction: row;

    .side-content {
      margin: 0;
    }

  }
}